body{
    background: #fefefe;
}

.container{
    width: min(100% - 2rem, 764px);
    margin-inline: auto;
}

.table_items{
    background: #FeFeFe;
    border: 1px solid #252525 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
}

.table_form{
    background: #FeFeFe;
    border: 1px solid #252525 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
    
}
